#main-container-wrapper {
    padding: 5px;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.header-box button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.header-box button:hover {
    background-color: #45a049;
}


.tab {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.tab th,
.tab td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    gap: 2%;
}

.tab thead tr {
    background-color: #f2f2f2;
}

#editBtn{
    background-color: blue;
    color: white;
    padding: 5px 4px 5px 4px;
    margin-right: 15px;
    border: none;
}

#deleteBtn{
    background-color: red;
    color : white;
    padding: 5px 4px 5px 4px;
    border: none;
}